@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montez&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");

:root {
  --pink-background: linear-gradient(180deg, #ffa6f3 0%, #ffa6f3 100%);
  --purple-background: linear-gradient(180deg, #c5a1ff 0%, #c5a1ff 100%);
  --blue-background: linear-gradient(180deg, #81f7fc 0%, #81f7fc 100%);
  --text-color: #620a04;
  --heading-font-family: "Montez", cursive;
  --content-font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input {
  font-family: var(--content-font-family);
  color: var(--text-color);
  font-size: 19px;
}

#root {
  max-width: 1600px;
}

h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: var(--content-font-family);
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
