.recipe-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ingredients {
  border-right: 1px solid var(--text-color);
  padding: 1rem 2rem 1rem 1rem;
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.ingredients li {
  display: list-item;
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.recipe-numbers {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
}

.recipe-numbers img {
  width: 70%;
}

.recipe-steps {
  margin: 1rem;
}

.recipe-steps button {
  color: #c5a1ff;
}

.r-numbers {
  margin-left: 1rem;
}

.r-numbers p {
  margin-bottom: 1rem;
  font-size: 24px;
}

.ingredients img {
  position: absolute;
  left: 12rem;
}
.ingredients img:nth-child(2) {
  position: absolute;
  left: 12rem;
  top: 13rem;
}
.ingredients img:nth-child(3) {
  position: absolute;
  left: 12rem;
  top: 22rem;
}

.ingredients img:nth-child(4) {
  position: absolute;
  left: 12rem;
  top: 31rem;
}

.ingredients img:nth-child(5) {
  position: absolute;
  left: 12rem;
  top: 41rem;
}

.steps {
  margin: 1.5rem 0 1.5rem 1.5rem;
}

label {
  font-size: 22px !important;
}
