form {
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

form button {
  align-self: center;
}

.horizont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#namefield {
  width: 350px;
}

#imgfield {
  width: 350px;
}

#add {
  margin-left: 1rem;
}

button[type="submit"] {
  width: 30%;
}
