form {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
}

form button {
  align-self: center;
}
#cookTime {
  margin: 0 1rem;
}

.horizont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizont-ingr {
  position: relative;
  right: 10px;
}

#namefield {
  width: 350px;
}

#imgfield {
  width: 350px;
}

#add {
  margin-left: 1rem;
  margin-top: 0.3rem;
  width: 8.3rem;
}

#adddesc {
  width: 50%;
  align-self: flex-start;
}

button[type="submit"] {
  width: 30%;
}
