header {
  background: var(--pink-background);
  background-position: cover;
  padding: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul li a {
  color: var(--text-color);
  text-decoration: none;

  padding: 1rem;
}

ul li a:hover {
  background-image: url("/src/assets/images/menu-hover.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: bottom;
}

.current {
  background-image: url("/src/assets/images/menu-hover.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: bottom;
}

li {
  display: inline;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 1rem;
}

.logo {
  font-family: "Zilla Slab", serif;
  font-size: 50px;
}

#logolink {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  font-size: 50px;
  font-family: var(--heading-font-family);
}

button {
  background-color: transparent;
  border: 3px solid #81f7fc;
  padding: 0.5rem;
  font-size: 30px;
  color: #fff261;
  font-family: var(--content-font-family);
  cursor: pointer;
  margin-right: 3rem;
  z-index: 999;
}

#button {
  background-color: transparent;
  border: 3px solid #81f7fc;
  padding: 0.5rem;
  font-size: 30px;
  color: #fff261;
  font-family: var(--content-font-family);
  cursor: pointer;
  margin-right: 3rem;
  text-decoration: none;
}

/*Mobile Menu*/

#mobileicon {
  display: none;
}

#mobilemenu {
  background-color: #caf7f8;
  position: absolute;
  right: 0;
  top: 95px;
  padding: 2rem;
  width: 30%;
  border: 1px solid #ffa6f3;
}

#mobilemenu li {
  display: block;
  margin: 1rem 0;
  font-size: 20px;
}

#mobilemenu ul li a:hover {
  background-image: none;
  color: #000;
}

@media (max-width: 901px) {
  .logo {
    font-size: 40px;
  }
  #mobileicon {
    display: block;
  }
  nav {
    display: none;
  }
  #right {
    display: none;
  }
}
@media (max-width: 380px) {
  #button {
    margin: 0 0.5rem;
    font-size: 20px;
    padding: 0.1rem;
  }

  .MuiInput-root {
    width: 15rem !important;
  }

  .recipe-box {
    width: 335px;
  }

  .shadow {
    width: 335px;
  }
  .logo {
    font-size: 35px;
  }
  #mobilemenu {
    width: 70%;
  }
}
